/* Généralités */
* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0
}

/* Fin généralités */

/* Header */
header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}

header div, nav {
    width: 50%;
}

/* Fin header */

/* Main */
h1, h2 {
    text-align: center;
    font-size: 20px;
}

h2 {
    font-weight: inherit;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.txt, .photo {
    width: 50%;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}

.txt p + p {
    margin-bottom: 0;
}

.txt ul {
    flex-direction: column;
    margin-top: 0;
}

.txt li:before {
    content: "- ";
}

.photo img {
    width: 100%;
    height: auto;
}
/* Fin main */

/* Footer */
footer {
    text-align: center;
    color:white;
    background-color: black;
}

footer a {
    color:white
}

footer p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.res {
    width: 7%;
    margin: auto;
    align-items: center;
}
.mf {
    width: 40%;
    margin: auto;
    font-size: 15px;
}
.mf li {
    width: 33%;
}
/* Fin footer */